<h1>Index</h1>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Sender</div>
        <div class="col-4"><input type="text" id="senderInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Receiver</div>
        <div class="col-4"><input type="text" id="receiverInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script type="text/javascript" src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="~/js/chat.js"></script>